#GaugeContainer {
  position: relative;
  width: 1500px;
  height: 370px;
  margin-bottom: -15px;
  margin-left: auto;
  margin-right: auto;
  background-color:  black;
}

#OnOffIndicator{
  position: absolute;
  top: 5%;
  left: 400px;
  font-family: "Barlow Semi Condensed";
  font-size: 30px;
  font-weight: 600;
  color: white;
}

/* #TransmissionReport{
  position: absolute;
  top: 6%;
  left: 950px;
  font-family: "Barlow Semi Condensed";
  font-size: 30px;
  font-weight: 600;
  color: white;
} */

#gaugeMask{
  position: absolute;
  width: 530px; height: 524px; 
  top: 0%;
  left: 480px;
  z-index: 1;
}

#needle {
  height: 290px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform-origin: 50% 73%;
  transform: translateX(-50%) rotate(0deg);
  transition: transform 0.15s ease-out;
  z-index: 4;
}

#digitalGaugeContainer{
  position: absolute;
  width: 200px;
  height: 80px;
  top: 285px;
  left: 645px;
}

#digitalGauge{
  font-family: "Barlow Semi Condensed";
  position: absolute;
  text-align: right;
  left: 88px;
  bottom: 10px;
  font-weight: 600;
  font-size: 65px;
  color: black;
  transition: color 0.5s ease-out;
}

#gearNumber{
  font-family: "Barlow Semi Condensed";
  position: absolute;
  text-align: right;
  right: 20px;
  top: -5px;
  font-weight: 600;
  font-size: 40px;
  color: black;
  transition: color 0s ease-out;
}

#mphSymbol{
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  position: absolute;
  left: 90px;
  bottom: 3px;
  color: black;
}

#gearIndicatorContainer{
  height: 75px;
  width: 28px;
  left: 125px;
  bottom: 0px;
  position: absolute;
  /* border-style: solid;
  border-color: white;
  border-width: 1px; */
}

#P{
  left: 16px;
}
#R{
  left: 16px;
  top: 14px;
}
#N{
  left: 16px;
  top: 29px;
}
#D{
  left: 16px;
  top: 45px;
}
#M{
  left: 4px;
  top: 45px;
}

.gearLetter{
  position: absolute;
  font-size: 17px;
  font-family: "Barlow Semi Condensed";
  font-weight: 800;
  color: white;
}

.rpmIndicator{
  position: absolute;
  height: 10px;
  width: 30px;
  left: 480px;
  top: 190px;
  background-color: gray;
  transition: background-color 0.01s ease-out;
  transform: translateX(-50%) rotate(0deg);
}


#separationLine{
  position: absolute;
  background-color: rgb(65, 64, 64);
  width: 280px; height: 2px;
  left: 610px;
  top: 286px; 

}